.header {
    height: 70px;
    background-color: #95c7ff;
    display: flex;
    justify-content: center;

}

.container {
    width: 80%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}