.skills {
    height: 100vh;
    background-color: #cfffcc;
    display: flex;
    justify-content: center;
}

.my_skills_block {
    text-align: center;
    border: 1px solid black;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.my_skills {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

