.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c6c2ff;
}

.my_works_block {
    border: 1px solid black;
    width: 80%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.my_works {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1024px){
    .my_works{
        justify-content: center;
    }
}